<script type="text/javascript">

/* global $ */
$(function() {
  $('nav ul li').each(function(i, li){
    var path = $(li).attr('data-url');
    if(window.location.pathname.indexOf(path) >= 0)
      $(li).addClass('active');
  });
});

</script>
<header>
  <div class="logo">
    <div><a href="/">M/S Ishwar Chandra Jain</a></div>
    <div>Sales and Reports</div>
  </div>
  <div class="profile">
    <div>User</div>
    <ul>
      <li>Profile</li>
      <li>Log Out</li>
    </ul>
  </div>
</header>
<nav>
  <ul>
    <li data-url="product"><a href="/views/product">Product</a></li>
    <li data-url="dealer"><a href="/views/dealer">Dealer</a></li>
    <li data-url="invoice"><a href="/views/invoice">Invoice</a></li>
    <li data-url="report"><a href="/views/report">Reports</a></li>
  </ul>
</nav>
