body {
  font-size: 12px;
  font-family: Arial, 'sans-serif';
  line-height: 1.2;
  height: 100%;
  min-height: 80%;
}

table {
  width: 100%;
  margin: 10px 0;
  border-collapse:collapse;
}
table th{
  font-size: 14px;
  font-weight: bold;
}
th, td {
  border: 1px solid #ccc;
  padding: 5px;
}
.center{
  text-align:center;
}

section {
  padding: 20px;
  min-height: calc(100vh - 200px);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 20px solid rgba(0,0,0,0.7);
  background: #fff;
  z-index: 10;
  padding: 20px;
}

form label {
  display: block;
  margin: 10px;
}

form label span {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

form label input, form label textarea, form label select {
  width: calc(100% - 110px);
  max-width: 300px;
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  background: #fff;
  padding: 8px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  background: #75a64f;
  color:#fff;
  border: none;
  padding:10px 20px;
  cursor: pointer;
}

button.edit, button.delete{
  padding: 5px;
  border-radius:20px;
  background: #ccc;
}

button.edit:before, button.delete:before{
  background-repeat: no-repeat;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  opacity: 0.7;
}

button.edit:before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABVUlEQVRIS7XVIU/DQBTA8fd6w6AIXwAcwawT12WWIEAQMHwLBA4DqCV4JEHsAyAgQUFGQgJmvS5hhaCWIEDyCdj6Hmlhg9JjlOu1qqL9/+6u6R1CyReW3AcrQK3RmI+GUUswHt51/bPvg7YDyPoJA2/GYQbeDYPgYIQUAuKR01t0LKac7UFELQFQTxCE9VCp8/jeGEjiQ7pG4DkA7DsCN0YIAV/eB8GKMZCOjxcjQWhA+5GAnQelno0AffwTQbjoKbVq/JEnxgH7LHAp7HRejACTeO4lMo3nAorE/wSKxicCNuK/ArbiWsBmPAPYjmeAqpSPCLiYPSP0P1Ges2S82VWlXADCIxRwAwx7Xy+bx1MzqEm5xYyzva5qup7X/ECKxVOAK+UpAc44CLfMvIzM01yprP3cW/Isi3Yvcj3vioheheO0CbEd+v7Tf2O6540PnLx46cA743/hGXOlWOYAAAAASUVORK5CYII=');
}

button.delete:before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5UlEQVQ4T+3UK05DQRQG4K+CSkJYAwuoJQgeCR6D7xKQSFhBYQcsAINBYIrFYXHsgAVUQP5mhrRDH7eWdJKTe+a/c/7zmDmnZ37t4w0HDb5o+4jL9kevAU4wxj2e8L2AaQfXOENr/weohH1MVkR5jpdVhAPsId8RTtek3J77ROQ3wlccd6jbsiO3uJkljB4gKUe6rtQ42SSg6Zotakt4h/ci0eOoYg/FfiPCeK2Sm4/zup+mV15B5wi3hNsa/stnMywTJFMkerqjYrV317beBa66ToYyjJe23hGesbsB4QcO8VVtfgBGlngVzm0luQAAAABJRU5ErkJggg==');
}

button + button {
  margin-left: 5px;
}

form .buttongroup {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #75a64f;
}

form .buttongroup button{
  margin: 0 5px;