<!DOCTYPE html>
<html lang="en">

<head>
  <title>Inventory List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <link rel="stylesheet" type="text/css" href="/web/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/web/styles/form.css">
  <link rel="stylesheet" type="text/css" href="/web/components/header/header.css">
  <link rel="stylesheet" type="text/css" href="/web/components/footer/footer.css">
  <link rel="stylesheet" type="text/css" href="/web/components/spinner/spinner.css">
  <link rel="stylesheet" type="text/css" href="/web/views/purchase/index.css">
  <script type="text/javascript" src="/web/scripts/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/web/views/purchase/index.js"></script>
</head>

<body>
  {{/web/components/header/header.html}}
  <section>
    {{/web/components/spinner/spinner.html}}
    <table id="purchaseList">
      <tr>
        <th>Date</th>
        <th>Dealer</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Total</th>
        <th>Description</th>
      </tr>
    </table>
  </section>
  {{/web/components/footer/footer.html}}
</body>

</html>
